* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  display: block;
  margin: auto;
  width: 60%;
  height: 60%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  color: antiquewhite;
  font-size: 1rem;
}

.form-container {
  color: antiquewhite;
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

th,
td {
  border: 1px solid antiquewhite;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
