* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  text-align: center;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 40px;
}

img {
  display: block;
  margin: auto;
  width: 60%;
  height: 60%;
}

.back-container {
  position: absolute;
  top: 15px;
  left: 15px;
}

.back-button {
  padding: 8px 14px;
  background-color: #333;
  color: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.back-button:hover {
  background-color: antiquewhite;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.button-container button {
  width: 100px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  color: antiquewhite;
  font-size: 1rem;
}

.form-container {
  color: antiquewhite;
  display: grid;
  gap: 12px;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.form-container label {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 1em;
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}

.form-container button {
  width: 50%;
  padding: 10px;
  margin: 15px auto 5px auto;
  font-size: 1rem;
  cursor: pointer;
  display: block;
}

.remove-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.remove-container h2 {
  margin: 20px 0 10px 0;
}

.remove-container label {
  margin: 10px 0 5px 0;
  font-weight: bold;
  color: antiquewhite;
}

.remove-container select {
  width: 240px;
  padding: 6px;
  margin: 5px 0 15px 0;
}

.remove-container button {
  margin: 10px 0 20px 0;
  padding: 8px 14px;
  font-size: 1rem;
}

th,
td {
  border: 1px solid antiquewhite;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
